@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Oriya&display=swap');


:root{
  --Bg--Color: #eef;
  --Nav-Font-Size:1.25rem;
  --nav-bg:#7FB77E;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
*::-webkit-scrollbar-track {
  background-color: #eee;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}
a{
  text-decoration: none;
  color: black;
}

/*nav*/
.nav_container{
  position: absolute;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  background-color: none;
  .logo{
    font-family: 'Noto Serif Oriya', serif;
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    color: white;
  }
  .menu{
    width: auto;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    width: 60%;
    a.data_link{
      font-size: var(--Nav-Font-Size);
      padding: 10px 20px;
      border-radius: 50px;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left:1vh;
      border-radius: 1.5vh;
    }
  }
}

.App{
  height:100vh;
  width: 100%;
}

 
/*main*/
.main{
  background-image: url("../public/background/background_img1.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* background: linear-gradient(to bottom right, black 50%, palegoldenrod 50%); */
  .photobox{
    width: 100%;
    height: 30%;
    background-color: var(--nav-bg);
    box-shadow: 5px 5px 5px gray;
    border-radius: 1vw;
  }
  .textbox{
    margin-top: 10%;
    width: 100%;
    height: 50%;
    display: flex;
    .text{
      width:30%;
      height: 100%;
      margin-left: 3%;
      background-color: var(--nav-bg);
      border-radius: 1vw;
      padding: 10px;
      .main-img{
        width: 100%;
        height: 80%;
      }
      p{
        width: 100%;
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

 /*storage*/
 .storage{
  width: 100%;
  height: 100%;
  padding-top: 90px;
  background-color: #eee;
  .storage_container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .storage_left{
      width: 600px;
      height: calc( 100vh - 180px);
      margin-right: 50px;
      padding: 10px;
      border-radius: 20px;
      box-shadow: 2px 2px 5px gray;
      background-color: white;
      .user_ingredient{
        width: 100%;
        height: 100%;
        overflow: auto;
        .ingredient{
          width: 100%;
          height: 80px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 5px 20px;
          background-color: #eee;
          margin-bottom: 25px;
          border-radius: 25px;
          p{
            font-size: 1.25rem;
          }
          button{
            width: 50px;
            height: 30px;
            border: 2px solid black;
            border-radius: 5px;
            background-color: white;
          }
        }
      }
    }
    .storage_right{
      width: 600px;
      height: calc( 100vh - 180px);
      padding: 10px;
      border-radius: 20px;
      background-color: white;
      box-shadow: 5px 5px 5px gray;
      .storage_user_input_box{
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
          width: 100%;
          height: 300px;
          background-color: #eee;
          border-radius: 10px;
          margin-bottom: 25px;
        }
        .storage_user_input_and_btn{
          position: relative;
          width: 500px;
          height: 50px; 
          input{
            width: 100%;
            height: 100%;
            border-radius: 10px;
            font-size: 1.25rem;
            padding: 0 10px;
          }
          button{
            position: absolute;
            right:0px;
            width:50px;
            height:50px;
            background-color: #eee;
            border-bottom-right-radius:10px;
            border-top-right-radius: 10px;
          }
          .relation_tag_box{
            position: absolute;
            bottom: -110px;
            width: 100%;
            height: 100px;
            background-color: rgb(253, 253, 253);
            border-radius: 20px;
            padding: 10px;
            overflow-y: auto;
            overflow-x: hidden;
            display: none;
            .relation_tag{
              display: flex;
              align-items: center;
              justify-content: flex-start;
              width: 100%;
              padding: 0px 10px;
            }
            .relation_tag:hover{
              background-color: #eee;
            }
          }
          .onoff{
            display: block;
          }
        }
      }
      .storage_tag_container{
        width: 100%;
        height: 200px;
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        overflow: auto;
        .tag{
          min-width: 75px;
          padding: 10px;
          height: 40px;
          border: 2px solid black;
          background-color: white;
          border-radius: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 10px;
        }
      }
    }

  }
 }


 /*search*/
 .search{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .search_box{
    width: 100%;
    min-height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-position: center;
    background-size: contain;
    h5{
      font-size: 5vw;
      color: #fff;
      font-weight: 500;
      margin-bottom: 4vh;
    }
    p{
      margin: 2vh 0;
      color: white;
      border-bottom: 1px solid black;
    }
    background: url('../public/background/background_img1.jpg');
    .search_box_input{
      width: 30%;
      height: 50px;
      background-color: white;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      position: relative;
      input{
        width: 100%;
        height: 50px;
        font-size: 1.25vw;
        background-color: white;
        border-radius: 10px;
        border: none;
        padding: 10px;
      }
      .icon{
        height: 50px;
        width: 50px;
        position: absolute;
        z-index: 0;
        right: 0;
        bottom:0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .icon:hover{
        border-radius: 10px;
        background-color: black;
        color: white;
      }
    }
    }
    .search_box2{
      display: flex;
      flex-direction: column;
      align-items: center;
      h1{
        margin: 2.5vh 50px;
      }
      .search_box2_tag{
        width: 1250px;
        #tag_search_btn{
          width: 100%;
          height: 5vh;
          background-color: #7FB77E;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .tag_bar{
          width: 100%;
          height: 75px;
          background-color: rgb(240, 240, 240);
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin: 2.5vh 0 0 0;
          .tag{
            width: 100px;
            height: 50px;
            margin-left: 25px;
            border-radius: 50px;
            background-color: white;
            border: 2px solid gray;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .tag:hover{
            transition: all 0.35s;
            background-color: black;
            color: #eee;
          }
        }
        .sub_tag_bar{
          width: 100%;
          height: auto;
          display: flex;
          align-items:center;
          justify-content: flex-start;
          flex-wrap: wrap;
          padding: 25px;
          .sub_tag{
            font-size: 12px;
            width: 75px;
            height: 32.5px;
            margin-left: 25px;
            margin-bottom: 10px;
            border-radius: 50px;
            background-color: white;
            border: 2px solid gray;
            display: flex;
            justify-content: center;
            align-items: center;

          }
          .sub_tag:hover{
            background-color: #0D4C92;
            color: white;
          }
        }
        .tag_container{
          width: 100%;
          height: 100px;
          background-color: whitesmoke;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-wrap: wrap;
          padding: 20px;
          .tag_container_tag{
            min-width: 100px;
            height: 50px;
            border-radius: 50px;
            font-size: 1rem;
            background-color: #fff;
            border: 3px solid gray;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 25px;
          }
          p{
            margin-right: 10px;
          }
          .i{
            padding-left: 5px;
            padding-right: 10px;
          }
        }

      }
      .search_container{
        width: 1250px;
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        overflow: hidden;
        .content_stage{
          position: relative;
          margin: 2.5vh 0;
          width: 100%;
          .content_stage_container{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            overflow:visible;
            transition: all 0.5s;
          }
          #content_stage_btn_l{
            transition: all 0.35s;
            z-index: 100;
            position: absolute;
            left:0px;
            bottom: 100px;
            width: 50px;
            height: 50px;
            font-size: 25px;
            border-radius: 30px;
            background-color: black;
            color: white;
          }
          #content_stage_btn_l:hover{
            transform: scale(1.05);
            background-color:#0D4C92;
            color: #eee;
            border: none;
          }
          #content_stage_btn_r{
            transition: all 0.35s;
            z-index: 100;
            position: absolute;
            right: 0px;
            bottom: 100px;
            font-size: 25px;
            width: 50px;
            height: 50px;
            border-radius: 30px;
            background-color: black;
            color: white;
          }
          #content_stage_btn_r:hover{
            transform: scale(1.05);
            background-color: #0D4C92;
            color: #eee;
            border: none;
          }
          .content{
            width: 200px;
            height: auto;
            padding: 10px;
            display: flex;
            flex-direction: column;
            background-color: #eee;
            font-size: 1rem;
            margin: 0 25px;
            a{
              text-decoration: none;
            }
          }
          img{
            width: 180px;
            height: 180px;
          }
          p{
            text-decoration: none;
            margin-top: 10px;
            width: 180px;
            color: black;
          }
        }
      } 
    }
}

/*detail*/
.detail{
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #eee;
  .detaile_container{
    margin: 90px 0;
    width: 1050px;
    height: 1000px;
    display: flex;
    justify-content: space-between;
    .recipe_left_box{
      overflow: hidden;
      width: 720px;
      height: auto;
      display: flex;
      flex-direction: column;
      border-radius: 25px;
      box-shadow: 2px 2px 5px gray;
      h2{
        background-color: white;
        padding:10px 50px;
      }
      .img_box{
        width: 100%;
        min-height: 400px;
        background:  linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0.45) 60%,
          rgba(255, 255, 255, 0.55) 70%,
          rgba(255, 255, 255, 0.65) 80%,
          rgba(255, 255, 255, 0.85) 90%,
          rgba(255, 255, 255, 1) 100%
        ), url('../public/background/background_img2.jpg');
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      p{
        font-size: 3rem;
        color: white;
      }
      }
      .recipe_info{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 25px;
        background-color: white;
        overflow: auto;
        .recipe{
          width: 100%;
          min-height: 100px;
          padding: 10px;
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          padding: 10px;
          border-bottom: 1px solid gray;
          img{
            height: 100%;
            width: 100px;
            margin-right: 25px;
          }
          p{
            font-size: 1rem;
          }
        }
        .recipe:hover{
          background-color: #eee;
        }
      }
    }
    .recipe_right_box{
      width: 300px;
      height: 100%;
      border-radius: 25px;
      box-shadow: 2px 2px 5px gray;
      padding: 10px;
      background-color: white;
      overflow: auto;
      h2{
        margin: 25px 0px;
      }
      .ingredient_box{
        width: 100%;
        height: auto;
        border-radius: 10px;
        background-color: #eee;
        p{
          font-size: 1rem;
        }
      }
      .nutrition_box{
        width: 100%;
        background-color: #eee;
        margin-bottom: 50px;
      }
    }
  } 
}